body{
  background: rgb(95,215,217);
  background: radial-gradient(circle, rgba(95,215,217,1) 0%, rgba(135,45,253,1) 17%);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
    padding: 0;
}
